
body{    
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 22px;
    font-weight: 200;
    background-color: #150578;

}

h1{ 
    font-family: 'Gloock', serif;
    font-size: 3em;
}

h2{ 
    padding: 2% 0;
    font-family: 'Gloock', serif;
    font-size: 2.5em;
}

h3{
    font-family: 'Gloock', serif;
    font-size: 1.5em;
    padding: 1.5% 0;
}

#header,
#background,
#writingsamples,
#contact{
    padding: 20% 0;
}

#background {
    background-color: #1E07B0;
}


#writingsamples {
    background-color: #001bc9;
}

#writingsamples a{
    color: #99FFFF;
    line-height: 2; 
}

#expertise {
    background-color: #1E07B0;
    padding: 25% 0;
}

#contact{
    background-color: #150578;
}

#contact p{
    font-weight: 500;
}


.banner-title {
    font-size: 4em;
}


#nav a{
    display: block;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}