
body{
    text-align: center;
    background-color: #FFC4C9;
    font-family: 'Montserrat', sans-serif; 
}

h1{ 
    font-family: 'Gloock', serif;;
    color: #5B2D29;
}

h2{ 
    font-family: 'Gloock', serif;;
    color: #5B2D29;
}


img {
    text-align: left;
}

